<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <h1>Create your own message</h1> 
    <form method="POST" action="/new">
        <div>
            <label for="">
                Your message: <input type="text" name="message" id="message"> 
            </label>
            <label for="">
                Your name: <input type="text" name="user" id="user"> 
            </label>
        </div>
        <input type="submit" value="Send Message">
     </form>
</body>
</html>