body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  display: grid;
  place-content: center;
}

a {
  color: #00B7FF;
}


div.message-container {
  display: grid;
  margin: 2rem;
  background-color: aquamarine;
  border-radius: .5rem;
  text-align: center;
  overflow: hidden;
}

div.message-container p:nth-child(1){
  font-size:large;
  padding: .5rem;
  margin: 0;
}


div.message-container p:nth-child(2){
  font-weight: bold;
  font-size:small;
  background-color: rgb(92, 182, 152);
  padding: .5rem;
  margin: 0;
}

div.message-container p:nth-child(3){
  font-weight:lighter;
  font-size:small;
  background-color: rgb(80, 153, 129);
  padding: .5rem;
  margin: 0;
  color: white;
}

div.link-container{
  width: 100%;
  display: grid;
  place-content: center;
}



a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color: aquamarine; 
  padding-inline: .5rem;
  border-radius: .5rem;
  border: 1px solid black; 
}

a:hover{
  background-color: black;
  color: white;
  padding-inline: .5rem;
  border-radius: .5rem;
  border: 1px solid transparent; 
}

form{
  display: flex; 
  gap: 50px;
  justify-content: space-between;
  padding: .5rem;
  background-color: blanchedalmond;
  border-radius: .5rem;
}

form > input{
  background-color: aquamarine;
  border: 1px solid black; 
  border-radius: .2rem;
  cursor: pointer; 
  font-weight: bold;
  padding-inline: 8px;
}

form > input:hover{
  background-color: black;
  color: white;
  border: 1px solid transparent; 
  border-radius: .2rem;
  font-weight: bold;
  padding-inline: 8px;
}